.postRegist{
  /* box-shadow: 0 0px 2px #999, 0px 0px 10px #999; */
  padding:1em;
}
.postRegist form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.postRegist .formDiv{
  margin-bottom: 2em;
}
.postRegist .formDiv input{
  border-radius: 5px;
  width:20em;
  height:3em;
}
.registPhoto{
  width: 5em;
  height:5em;
  background-color: #fff;
  border:1px solid #ccc;
}
.registPhoto img {
  width:100%;
}
.formDiv{
  display: flex;
  flex-direction: column;
}
