.myPage_form {
  text-align: center;
  width: 40em;
  height: 25em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 2px #999, 0px 0px 10px #999;
}
.myPage_form form{
  width:100%;
}
.myPage_form .form_input {
  margin: 1em 0;
}
